.card{
  background: rgb(229, 224, 224);
  border: 1px solid black;
  border-radius: 0.75rem;
  margin: 1rem;
  padding: .75rem;
  color: rgb(67, 67, 67);
}

.card-header{
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}


.card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.header{
  font-size: 2rem;
  width: 190px;
  margin: auto;
}
